.home-content {
  width: 100vw;
  height: 100vh;
  background: url("../images/home_page_2.png") no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-heading {
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 10em;
}
* {
  margin: 0;
  padding: 0;
}
